@font-face {
    font-family: 'Swiss911';
    src: url('fonts/Swiss911.ttf') format('truetype');
}

@font-face {
    font-family: 'Korinna';
    src: url('fonts/Korinna.ttf') format('truetype');
}

body {
    font-family: 'Korinna', Arial, sans-serif;
    background-color: #000066;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Swiss911', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}
